@font-face {
    src: url("./Pretendard.woff2");
    font-family: "Pretendard";
    font-weight: 300;
}

:root {
    --background: #111111;
    --font-color: #ffffff;
    --hover-color: #444444;
    --focus-color: #cccccc;
}

* {
    font-family: "Pretendard", serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--font-color);
    background-color: var(--background);
}

a {
    text-decoration: none;
    color: var(--font-color);
    transition-duration: 300ms;

    &:focus {
        color: var(--focus-color);
        transition-duration: 300ms;
    }
}
