@font-face {
	font-weight: 300;
	font-family: "Pretendard";
	src: url("./fonts/Pretendard.woff2");
}

@font-face {
	font-weight: 300;
	font-family: "JetBrains Mono";
	src: url("./fonts/JetBrainsMono.woff2");
}

:root {
	--gap: 250px;
	--gap-1: 100px;
	--gap-2: 50px;
	--gap-3: 10px;

	--nav: 60px;

	--font-default: "Pretendard";
	--font-mono: "JetBrains Mono";

	--background: #101010;
	--foreground: #ffffff;

	--hover-color: #aaaaaa44;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	display: flex;
	max-width: 100vw;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

body {
	width: 100%;
	display: flex;
	align-items: center;
	padding: 0 var(--gap);
	justify-content: center;
	color: var(--foreground);
	background-color: var(--background);
	font-family: var(--font-default), serif;

	@media (max-width: 1500px) and (min-width: 1200px) {
		padding: 0 var(--gap-1);
	}

	@media (max-width: 1200px) and (min-width: 701px) {
		padding: 0 var(--gap-2);
	}

	@media (max-width: 700px) {
		padding: 0 var(--gap-3);
	}
}

pre, code {
	font-family: var(--font-mono), serif;
}

a {
	color: inherit;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
