.container {
	width: 100%;
}

.dir {
	padding: 10px 7px;
}

.entries {
	width: 100%;
	border-collapse: collapse;

	th {
		text-align: left;
		border-spacing: 0;
		border-bottom: 2px solid var(--foreground);
	}
}

.entry {
	height: 25px;
}

.file_icon {
	width: 20px;
	padding: 0 7px;
}

.entry_name {
	width: 30rem;
}

.entry_item {
	width: 10rem;

	@media (max-width: 700px) {
		display: none;
	}
}
