.container {
	width: 100%;
}

.explorer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.entries {
	width: 100%;
	border-collapse: collapse;
	margin: 10px 0;

	th {
		text-align: left;
		border-spacing: 0;
		border-bottom: 2px solid var(--foreground);
	}
}

.entry_main {
	height: 30px;
}

.entry {
	height: 30px;
	transition-duration: 300ms;

	&:hover {
		transition-duration: 300ms;
		background-color: var(--hover-color);
	}
}

.file_icon {
	width: 20px;
	padding: 0 7px;
}

.entry_name {
	width: 30rem;
}

.entry_item {
	width: 10rem;

	@media (max-width: 700px) {
		display: none;
	}
}
