.header {
	top: 0;
	width: 100%;
	display: flex;
	position: sticky;
	height: var(--nav);
	align-items: center;
	background: var(--background);
	justify-content: space-between;
}

.right {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
}

.icons {
	padding: 0 10px;

	@media (max-width: 700px) {
		padding: 0 0;
	}
}

.icon {
	margin: 0 4px;
}

.footer {
	width: 100%;
	display: flex;
	padding: 30px;
	align-items: center;
	justify-content: center;
}
