@font-face {
    src: url("./fonts/Pretendard.woff2");
    font-family: "Pretendard";
    font-weight: 300;
}

:root {
    --font-default: "Pretendard", serif;
    --font-color: #ffffff;
    --background: #222222;
    --hover: #ffffff10;
}

* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    color: var(--font-color);
    font-family: var(--font-default);
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
}

a {
    text-decoration: none;
    transition-duration: 300ms;
}
